In [ ]:
# Kacper Gregorowicz - Bioinformatyka - task no.1

In [74]:
import pandas as pd

In [62]:
housing_data = pd.read_csv('data/kc_house_data.csv', index_col='id')
iris_data = pd.read_csv('data/Iris.csv', index_col='Id')
seeds_data = pd.read_csv('data/seeds.csv')

In [63]:
housing_data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [64]:
housing_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21613 entries, 7129300520 to 1523300157
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21613 non-null  object
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(14), object(1)
memory usage: 3.5+ MB

In [65]:
housing_data.agg(['min', 'max', 'mean'])

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
min,20140502T000000,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.00000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
max,20150527T000000,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.00000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000
mean,NaN,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.40943,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652

In [66]:
iris_data.agg(['min', 'max', 'mean'])

      SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
min        4.300000         2.000       1.000000      0.100000     Iris-setosa
max        7.900000         4.400       6.900000      2.500000  Iris-virginica
mean       5.843333         3.054       3.758667      1.198667             NaN

In [67]:
seeds_data.agg(['min', 'max', 'mean'])

,Area,Perimeter,Compactness,Kernel_length,Kernel_width,Asymmetry_coeff,Kernel_groove_length,Class
min,10.590000,12.410000,0.808100,4.899000,2.630000,0.765100,4.519000,1.0
max,21.180000,17.250000,0.918300,6.675000,4.033000,8.456000,6.550000,3.0
mean,14.847524,14.559286,0.870999,5.628533,3.258605,3.700201,5.408071,2.0

In [68]:
housing_features = housing_data.drop(columns=['date', 'zipcode', 'price'])
normalized_houses = (housing_features / (housing_features.abs()).max())
normalized_houses.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,
7129300520,0.090909,0.12500,0.087149,0.003421,0.285714,0.0,0.0,0.6,0.538462,0.125399,0.000000,0.970223,0.000000,0.994424,-0.997862,0.215781,0.006485
6414100192,0.090909,0.28125,0.189808,0.004385,0.571429,0.0,0.0,0.6,0.538462,0.230606,0.082988,0.968238,0.988089,0.998815,-0.998368,0.272142,0.008768
5631500400,0.060606,0.12500,0.056869,0.006056,0.285714,0.0,0.0,0.6,0.461538,0.081828,0.000000,0.959305,0.000000,0.999169,-0.997666,0.438003,0.009254
2487200875,0.121212,0.37500,0.144756,0.003028,0.285714,0.0,0.0,1.0,0.538462,0.111583,0.188797,0.975186,0.000000,0.994625,-0.998972,0.219002,0.005739
1954400510,0.090909,0.25000,0.124077,0.004893,0.285714,0.0,0.0,0.6,0.615385,0.178533,0.000000,0.986104,0.000000,0.996634,-0.996131,0.289855,0.008612

In [69]:
normalized_iris = (iris_data.iloc[:,:-1] / (iris_data.iloc[:,:-1].abs()).max())
normalized_iris.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Id
1        0.645570      0.795455       0.202899          0.08
2        0.620253      0.681818       0.202899          0.08
3        0.594937      0.727273       0.188406          0.08
4        0.582278      0.704545       0.217391          0.08
5        0.632911      0.818182       0.202899          0.08

In [70]:
normalized_seeds = (seeds_data.iloc[:,:-1] / (seeds_data.iloc[:,:-1].abs()).max())
normalized_seeds.head()

,Area,Perimeter,Compactness,Kernel_length,Kernel_width,Asymmetry_coeff,Kernel_groove_length
0,0.720491,0.860290,0.948492,0.863371,0.821225,0.262654,0.796947
1,0.702550,0.844638,0.959490,0.832060,0.826432,0.120388,0.756641
2,0.674693,0.816812,0.985517,0.792659,0.827424,0.319182,0.736641
3,0.653447,0.808116,0.975172,0.797603,0.837838,0.267148,0.733588
4,0.762040,0.868986,0.983774,0.847640,0.883213,0.160241,0.790076

In [71]:
#seeds = pd.read_csv('data/seeds.txt', delim_whitespace=True, names=['Area', 'Perimeter', 'Compactness', 'Kernel_length',
#                                                       'Kernel_width', 'Asymmetry_coeff', 'Kernel_groove_length', 'Class'])

In [72]:
#seeds.head()

In [73]:
#seeds.to_csv('data/seeds.csv', index=False)